doctype html
html
  head
    title= titulo
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/custom.css')

  body
  div.title_div
    h1.title_div= titulo


  form.edit_form(method="POST")
    fieldset.edit_fieldset
        input.edit_input(type="hidden" name="Id" value=genere.Id)
        input.search_input(type="hidden" name="_id" value=genere._id)
        div.input_div
        label DescriptionLevel
        input.edit_input(type="text" name="DescriptionLevel" value=genere.DescriptionLevel)
        div.input_div
        label EntityType
        input.edit_input(type="text" name="EntityType" value=genere.EntityType)
        div.input_div
        label CompleteUnitId
        input.edit_input(type="text" name="CompleteUnitId" value=genere.CompleteUnitId)
        div.input_div
        label RepositoryCode
        input.edit_input(type="text" name="RepositoryCode" value=genere.RepositoryCode)
        div.input_div
        label CountryCode
        input.edit_input(type="text" name="CountryCode" value=genere.CountryCode)
        div.input_div
        label UnitTitleType
        input.edit_input(type="text" name="UnitTitleType" value=genere.UnitTitleType)
        div.input_div
        label UnitTitle
        input.edit_input(type="text" name="UnitTitle" value=genere.UnitTitle)
        div.input_div
        label AlternativeTitle
        input.edit_input(type="text" name="AlternativeTitle" value=genere.AlternativeTitle)
        div.input_div
        label NormalizedFormsName
        input.edit_input(type="text" name="NormalizedFormsName" value=genere.NormalizedFormsName)
        div.input_div
        label OtherFormsName
        input.edit_input(type="text" name="OtherFormsName" value=genere.OtherFormsName)
        div.input_div
        label UnitDateInitial
        input.edit_input(type="text" name="UnitDateInitial" placeholder="YYYY-MM-DD" value=genere.UnitDateInitial)
        div.input_div
        label UnitDateFinal
        input.edit_input(type="text" name="UnitDateFinal" placeholder="YYYY-MM-DD" value=genere.UnitDateFinal)
        div.input_div
        label UnitDateInitialCertainty
        input.edit_input(type="text" name="UnitDateInitialCertainty" value=genere.UnitDateInitialCertainty)
        div.input_div
        label UnitDateFinalCertainty
        input.edit_input(type="text" name="UnitDateFinalCertainty" value=genere.UnitDateFinalCertainty)
        div.input_div
        label AllowUnitDatesInference
        input.edit_input(type="text" name="AllowUnitDatesInference" value=genere.AllowUnitDatesInference)
        div.input_div
        label AccumulationDates
        input.edit_input(type="text" name="AccumulationDates" value=genere.AccumulationDates)
        div.input_div
        label UnitDateBulk
        input.edit_input(type="text" name="UnitDateBulk" value=genere.UnitDateBulk)
        div.input_div
        label UnitDateNotes
        input.edit_input(type="text" name="UnitDateNotes" value=genere.UnitDateNotes)
        div.input_div
        label Dimensions
        input.edit_input(type="text" name="Dimensions" value=genere.Dimensions)
        div.input_div
        label AllowExtentsInference
        input.edit_input(type="text" name="AllowExtentsInference" value=genere.AllowExtentsInference)
        div.input_div
        label Repository
        input.edit_input(type="text" name="Repository" value=genere.Repository)
        div.input_div
        label Producer
        input.edit_input(type="text" name="Producer" value=genere.Producer)
        div.input_div
        label Author
        input.edit_input(type="text" name="Author" value=genere.Author)
        div.input_div
        label MaterialAuthor
        input.edit_input(type="text" name="MaterialAuthor" value=genere.MaterialAuthor)
        div.input_div
        label Contributor
        input.edit_input(type="text" name="Contributor" value=genere.Contributor)
        div.input_div
        label Recipient
        input.edit_input(type="text" name="Recipient" value=genere.Recipient)
        div.input_div
        label BiogHist
        input.edit_input(type="text" name="BiogHist" value=genere.BiogHist)
        div.input_div
        label LegalStatus
        input.edit_input(type="text" name="LegalStatus" value=genere.LegalStatus)
        div.input_div
        label Functions
        input.edit_input(type="text" name="Functions" value=genere.Functions)
        div.input_div
        label Authorities
        input.edit_input(type="text" name="Authorities" value=genere.Authorities)
        div.input_div
        label InternalStructure
        input.edit_input(type="text" name="InternalStructure" value=genere.InternalStructure)
        div.input_div
        label GeneralContext
        input.edit_input(type="text" name="GeneralContext" value=genere.GeneralContext)
        div.input_div
        label CustodHist
        input.edit_input(type="text" name="CustodHist" value=genere.CustodHist)
        div.input_div
        label AcqInfo
        input.edit_input(type="text" name="AcqInfo" value=genere.AcqInfo)
        div.input_div
        label Classifier
        input.edit_input(type="text" name="Classifier" value=genere.Classifier)
        div.input_div
        label ScopeContent 
        input.edit_input(type="text" name="ScopeContent" value=genere.ScopeContent)
        div.input_div
        label Terms
        input.edit_input(type="text" name="Terms" value=genere.Terms)
        div.input_div
        label DocumentalTradition
        input.edit_input(type="text" name="DocumentalTradition" value=genere.DocumentalTradition)
        div.input_div
        label DocumentalTypology
        input.edit_input(type="text" name="DocumentalTypology" value=genere.DocumentalTypology)
        div.input_div
        label Marks
        input.edit_input(type="text" name="Marks" value=genere.Marks)
        div.input_div
        label Monograms
        input.edit_input(type="text" name="Monograms" value=genere.Monograms)
        div.input_div
        label Stamps
        input.edit_input(type="text" name="Stamps" value=genere.Stamps)
        div.input_div
        label Inscriptions
        input.edit_input(type="text" name="Inscriptions" value=genere.Inscriptions)
        div.input_div
        label Signatures
        input.edit_input(type="text" name="Signatures" value=genere.Signatures)
        div.input_div
        label Appraisal
        input.edit_input(type="text" name="Appraisal" value=genere.Appraisal)
        div.input_div
        label AppraisalElimination
        input.edit_input(type="text" name="AppraisalElimination" value=genere.AppraisalElimination)
        div.input_div
        label AppraisalEliminationDate
        input.edit_input(type="text" name="AppraisalEliminationDate" value=genere.AppraisalEliminationDate)
        div.input_div
        label Accruals
        input.edit_input(type="text" name="Accruals" value=genere.Accruals)
        div.input_div
        label Arrangement
        input.edit_input(type="text" name="Arrangement" value=genere.Arrangement)
        div.input_div
        label AccessRestrict
        input.edit_input(type="text" name="AccessRestrict" value=genere.AccessRestrict)
        div.input_div
        label UseRestrict
        input.edit_input(type="text" name="UseRestrict" value=genere.UseRestrict)
        div.input_div
        label PhysLoc
        input.edit_input(type="text" name="PhysLoc" value=genere.PhysLoc)
        div.input_div
        label OriginalNumbering
        input.edit_input(type="text" name="OriginalNumbering" value=genere.OriginalNumbering)
        div.input_div
        label PreviousLoc
        input.edit_input(type="text" name="PreviousLoc" value=genere.PreviousLoc)
        div.input_div
        label LangMaterial
        input.edit_input(type="text" name="LangMaterial" value=genere.LangMaterial)
        div.input_div
        label PhysTech
        input.edit_input(type="text" name="PhysTech" value=genere.PhysTech)
        div.input_div
        label OtherFindAid
        input.edit_input(type="text" name="OtherFindAid" value=genere.OtherFindAid)
        div.input_div
        label ContainerTypeTerm
        input.edit_input(type="text" name="ContainerTypeTerm" value=genere.ContainerTypeTerm)
        div.input_div
        label OriginalsLoc
        input.edit_input(type="text" name="OriginalsLoc" value=genere.OriginalsLoc)
        div.input_div
        label AltFormAvail
        input.edit_input(type="text" name="AltFormAvail" value=genere.AltFormAvail)
        div.input_div
        label RelatedMaterial
        input.edit_input(type="text" name="RelatedMaterial" value=genere.RelatedMaterial)
        div.input_div
        label Note
        input.edit_input(type="text" name="Note" value=genere.Note)
        div.input_div
        label AllowTextualContentInference
        input.edit_input(type="text" name="AllowTextualContentInference" value=genere.AllowTextualContentInference)
        div.input_div
        label TextualContent
        input.edit_input(type="text" name="TextualContent" value=genere.TextualContent)
        div.input_div
        label RetentionDisposalDocumentState
        input.edit_input(type="text" name="RetentionDisposalDocumentState" value=genere.RetentionDisposalDocumentState)
        div.input_div
        label ApplySelectionTable
        input.edit_input(type="text" name="ApplySelectionTable" value=genere.ApplySelectionTable)
        div.input_div
        label RetentionDisposalPolicy
        input.edit_input(type="text" name="RetentionDisposalPolicy" value=genere.RetentionDisposalPolicy)
        div.input_div
        label RetentionDisposalReference
        input.edit_input(type="text" name="RetentionDisposalReference" value=genere.RetentionDisposalReference)
        div.input_div
        label RetentionDisposalClassification
        input.edit_input(type="text" name="RetentionDisposalClassification" value=genere.RetentionDisposalClassification)
        div.input_div
        label RetentionDisposalPeriod
        input.edit_input(type="text" name="RetentionDisposalPeriod" value=genere.RetentionDisposalPeriod)
        div.input_div
        label RetentionDisposalApplyDate
        input.edit_input(type="text" name="RetentionDisposalApplyDate" value=genere.RetentionDisposalApplyDate)
        div.input_div
        label RetentionDisposalFinalDestination
        input.edit_input(type="text" name="RetentionDisposalFinalDestination" value=genere.RetentionDisposalFinalDestination)
        div.input_div
        label RetentionDisposalObservations
        input.edit_input(type="text" name="RetentionDisposalObservations" value=genere.RetentionDisposalObservations)
        div.input_div
        label DescRules
        input.edit_input(type="text" name="DescRules" value=genere.DescRules)
        div.input_div
        label Revised
        input.edit_input(type="text" name="Revised" value=genere.Revised)
        div.input_div
        label Published
        input.edit_input(type="text" name="Published" value=genere.Published)
        div.input_div
        label Available
        input.edit_input(type="text" name="Available" value=genere.Available)
        div.input_div
        label Highlighted
        input.edit_input(type="text" name="Highlighted" value=genere.Highlighted)
        input.edit_input(type="hidden" name="Creator" value=genere.Creator)
        input.edit_input(type="hidden" name="Created" placeholder="DD/MM/YYYY HH:MM:SS" value=genere.Created) 
        div.input_div
        label Username
        input.edit_input(type="text" name="Username" value=genere.Username)
        input.edit_input(type="hidden" name="ProcessInfoDate" placeholder="DD/MM/YYYY HH:MM:SS" value=genere.ProcessInfoDate)
        div.input_div
        label OtherDescriptiveData
        input.edit_input(type="text" name="OtherDescriptiveData" value=genere.OtherDescriptiveData)
        input.edit_input(type="hidden" name="ProcessInfo" value=genere.ProcessInfo)
        div.input_div
        label Relationships
        textarea.edit_input(
        name="Relationships"
        value=genere.Relationships
        placeholder='Enter relationships in the "ID:Relationship" format (one per line), e.g.:\n00065:Cousin\n00012:Brother'
        )
        div.input_div
        label father
        input.edit_input(type="text" name="Father" value=genere.Father)
        div.input_div
        label mother
        input.edit_input(type="text" name="Mother" value=genere.Mother)
        div.input_div
        label lugar
        input.edit_input(type="text" name="Lugar" value=genere.Lugar)
        div.input_div
        label concelho
        input.edit_input(type="text" name="Concelho" value=genere.Concelho)
        div.input_div
        label distrito
        input.edit_input(type="text" name="Distrito" value=genere.Distrito)
        div.input_div
        label name
        input.edit_input(type="text" name="Name" value=genere.Name)
        div.input_div
    div.edit_button_div
      button.button(type="submit") Suggest Changes 
  
  div.return_div
    a.return_button(href="/home") Return to Main Page

  footer
    address Generated by Grupo12::EngWeb2024 on #{data}

