doctype html
html
  head
    title= message
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    body
      div.title_div
        h1.title_div Register
      
      form.login_form(method='POST', action='/register')
        fieldset
          div.login_div
            label.form_label(for='username') Username:
            input.login_input(type='text', name='username', required=true)
          div.login_div
            label.form_label(for='password') Password:
            input.login_input(type='password', name='password', required=true)
          div.login_div
            label.form_label(for='name') Name:
            input.login_input(type='text', name='name', required=true)
          div.login_div
            label.form_label(for='email') Email:
            input.login_input(type='email', name='email', required=true)
          div.login_div
            input.login_input(type='hidden', name='level', required=true value='user')
          div.login_button_div
          button.button(type='submit') Register

        h2 Already have an account?
        a(href='/') Login here



